{
  "openapi": "3.0.3",
  "info": {
    "title": "UniFi Public API",
    "version": "1.0.0",
    "description": "Production API operations organized around the UniFi payment lifecycle. Internal administration, worker, dashboard, support, scheduling, and Falcon orchestration routes are intentionally excluded."
  },
  "servers": [
    {
      "url": "https://api.payunifi.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Check API process availability and dependency health."
    },
    {
      "name": "Deposit",
      "description": "Resolve deposit addresses for a UniFi wallet."
    },
    {
      "name": "Wallet",
      "description": "Read stablecoin balances across wallets and chains."
    },
    {
      "name": "Preflight",
      "description": "Check balances, allowances, and estimated fees before submitting a payment."
    },
    {
      "name": "Pay",
      "description": "Create managed-wallet, merchant, and self-custodial payments."
    },
    {
      "name": "History",
      "description": "Track payment sessions, receipts, finality, and history."
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "getHealthz",
        "summary": "Check API process availability",
        "description": "Lightweight liveness check. It does not test the database, blockchain RPCs, or every downstream dependency.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The API process is available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "API server is healthy",
                  "server_uptime": 1789992000
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check API dependencies",
        "description": "Runs the deeper service health check, including production dependencies. This operation consumes protected API capacity.",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "The API and required dependencies are healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "API server is healthy",
                  "server_uptime": 1789992000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/address/{user_id}/{chain}": {
      "get": {
        "operationId": "getUserWalletAddress",
        "summary": "Get a wallet address for a chain",
        "description": "Resolves the user's wallet address for the requested chain.",
        "tags": [
          "Deposit"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          }
        ],
        "responses": {
          "200": {
            "description": "An EVM wallet address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "0x1111111111111111111111111111111111111111"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/addresses/{user_id}": {
      "get": {
        "operationId": "getUserWalletAddresses",
        "summary": "Get wallet addresses by protocol",
        "description": "Returns the user's wallet address for every supported chain protocol.",
        "tags": [
          "Deposit"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet addresses keyed by protocol.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAddressesResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "Evm": "0x1111111111111111111111111111111111111111"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/onchain/balance/{user_id}/{chain}/{coin}": {
      "get": {
        "operationId": "getStablecoinBalance",
        "summary": "Get a stablecoin balance",
        "description": "Returns the formatted net balance for one user, chain, and stablecoin.",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          },
          {
            "$ref": "#/components/parameters/Coin"
          }
        ],
        "responses": {
          "200": {
            "description": "Human-readable token balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1200.00"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/onchain/balances/{user_id}/{chain}": {
      "get": {
        "operationId": "getChainStablecoinBalances",
        "summary": "Get all stablecoin balances on a chain",
        "description": "Returns formatted balances for every supported stablecoin on the requested chain.",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          }
        ],
        "responses": {
          "200": {
            "description": "Stablecoin balances keyed by ticker.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinBalanceMapResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "USDT": "1200.00",
                    "USDC": "50.25",
                    "DAI": "0.00"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/balances/{user_id}": {
      "get": {
        "operationId": "getWalletBalances",
        "summary": "Get the complete wallet balance view",
        "description": "Returns all supported assets across all supported chains, ordered by total USD value.",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "The aggregate wallet balance view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalancesResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": [
                    [
                      "USDT",
                      {
                        "total_usd": "1200.00",
                        "price_usd": "1.00",
                        "chain_details": [
                          [
                            "Ethereum",
                            {
                              "balance": "1000.00",
                              "value_usd": "1000.00"
                            }
                          ],
                          [
                            "Polygon",
                            {
                              "balance": "200.00",
                              "value_usd": "200.00"
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/balances/by_chain/{user_id}/{chain}": {
      "get": {
        "operationId": "getWalletBalancesByChain",
        "summary": "Get wallet balances by chain",
        "description": "Returns each supported stablecoin balance and USD value for one chain.",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances grouped by stablecoin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalancesByChainResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "total_usd": "1250.25",
                    "coin_details": [
                      [
                        "USDT",
                        {
                          "price_usd": "1.00",
                          "balance": "1200.00",
                          "value_usd": "1200.00"
                        }
                      ],
                      [
                        "USDC",
                        {
                          "price_usd": "1.00",
                          "balance": "50.25",
                          "value_usd": "50.25"
                        }
                      ]
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/wallet/balances/by_coin/{user_id}/{coin}": {
      "get": {
        "operationId": "getWalletBalancesByCoin",
        "summary": "Get wallet balances by stablecoin",
        "description": "Returns the selected stablecoin's balance and USD value across supported chains.",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Coin"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances grouped by chain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalancesByCoinResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "total_usd": "1200.00",
                    "price_usd": "1.00",
                    "chain_details": [
                      [
                        "Ethereum",
                        {
                          "balance": "1000.00",
                          "value_usd": "1000.00"
                        }
                      ],
                      [
                        "Polygon",
                        {
                          "balance": "200.00",
                          "value_usd": "200.00"
                        }
                      ]
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/net_balance/{user_id}/{chain}/{coin}": {
      "get": {
        "operationId": "getPaymentNetBalance",
        "summary": "Get spendable payment balance",
        "description": "Returns the user's formatted net balance before creating a payment.",
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          },
          {
            "$ref": "#/components/parameters/Coin"
          }
        ],
        "responses": {
          "200": {
            "description": "Spendable stablecoin balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1199.88"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/est_fee/{user_id}/{chain}/{coin}": {
      "get": {
        "operationId": "getEstimatedPaymentFee",
        "summary": "Estimate the payment fee",
        "description": "Returns the formatted estimated total stablecoin fee for the selected route.",
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          },
          {
            "$ref": "#/components/parameters/Coin"
          }
        ],
        "responses": {
          "200": {
            "description": "Estimated fee denominated in the selected stablecoin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "0.12"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/balance_est_fee/{user_id}/{chain}/{coin}": {
      "get": {
        "operationId": "getPaymentBalanceAndFee",
        "summary": "Get payment balance and fee",
        "description": "Combines spendable balance, estimated fee, and allowance state for the selected route.",
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          },
          {
            "$ref": "#/components/parameters/Coin"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment preflight values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "is_coin_allowance_zero": false,
                    "balance": "1200.00",
                    "est_fee": "0.12"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/balance_est_fee_ncw/{user_id}/{is_fee_incl}": {
      "post": {
        "operationId": "getSelfCustodialPaymentBalanceAndFee",
        "summary": "Prepare a self-custodial payment",
        "description": "Checks the sender balance and Permit2 allowance, then estimates the payment fee for one self-custodial payment.",
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/IsFeeInclusive"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentPayload"
              },
              "example": {
                "chain": "Sepolia",
                "coin": "USDT",
                "to_address": "0x2222222222222222222222222222222222222222",
                "amount": "10.25",
                "memo": "General"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The balance, allowance, and estimated fee required for the payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrePayNcwResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "allowance": {
                      "is_suff": false,
                      "required_allowance": "10.37",
                      "is_max_allowance": false
                    },
                    "balance": "125.50",
                    "est_fee": "0.12"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/balance_est_fee_ncw_bulkpay/{user_id}/{is_fee_incl}": {
      "post": {
        "operationId": "getSelfCustodialBulkPaymentBalanceAndFee",
        "summary": "Prepare self-custodial bulk payments",
        "description": "Checks balances and Permit2 allowances by coin, then estimates the total fee for a self-custodial bulk payment.",
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/IsFeeInclusive"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPayItemRequest"
              },
              "example": {
                "chain": "Sepolia",
                "items": [
                  {
                    "coin": "USDT",
                    "to_address": "0x2222222222222222222222222222222222222222",
                    "amount": "10.25",
                    "memo": "BulkPay"
                  },
                  {
                    "coin": "USDC",
                    "to_address": "0x3333333333333333333333333333333333333333",
                    "amount": "4.50",
                    "memo": "BulkPay"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balances and allowances by coin, plus the total estimated fee.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrePayNcwBulkResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "coin_entries": {
                      "USDT": {
                        "allowance": {
                          "is_suff": false,
                          "required_allowance": "10.25",
                          "is_max_allowance": false
                        },
                        "balance": "125.50"
                      },
                      "USDC": {
                        "allowance": {
                          "is_suff": true,
                          "required_allowance": "0",
                          "is_max_allowance": false
                        },
                        "balance": "50.00"
                      }
                    },
                    "tot_est_fee": "0.18"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/ncw/pre_fetch_balance_est_fee_params/{user_id}/{chain}/{coin}": {
      "get": {
        "operationId": "getSelfCustodialPaymentCalculationInputs",
        "summary": "Get self-custodial fee inputs",
        "description": "Returns raw allowance, balance, gas, and price inputs for client-side self-custodial payment calculations.",
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Chain"
          },
          {
            "$ref": "#/components/parameters/Coin"
          }
        ],
        "responses": {
          "200": {
            "description": "The raw inputs used to calculate balance and fee requirements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrePayNcwParamsResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "allowance": "0",
                    "balance": "125.50",
                    "gas_price": 1000000000,
                    "gas_token_price": 2500.25,
                    "coin_price": 1.0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/{user_id}/{is_fee_incl}": {
      "post": {
        "operationId": "createManagedWalletPayment",
        "summary": "Create a stablecoin payment",
        "description": "Submits a payment from a UniFi-managed wallet. The response is a receipt ID; query the receipt endpoint for settlement progress.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/IsFeeInclusive"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayOnchainRequest"
              },
              "example": {
                "payload": {
                  "chain": "Sepolia",
                  "coin": "USDT",
                  "to_address": "0x2222222222222222222222222222222222222222",
                  "amount": "10.25",
                  "memo": "General"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new receipt ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1reb05f9d5f2791616e3c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/merchant/{user_id}/{is_fee_incl}/{session_id}": {
      "post": {
        "operationId": "createManagedWalletMerchantPayment",
        "summary": "Create a managed-wallet merchant payment",
        "description": "Submits a merchant payment from a UniFi-managed wallet and associates its receipt with the supplied payment session.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/IsFeeInclusive"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentPayload"
              },
              "example": {
                "chain": "Sepolia",
                "coin": "USDT",
                "to_address": "0x2222222222222222222222222222222222222222",
                "amount": "10.25",
                "memo": "FliqPayMerchant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new receipt ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1reb05f9d5f2791616e3c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/ncw/create_domain_permit/{user_id}": {
      "post": {
        "operationId": "createSelfCustodialPaymentPermit",
        "summary": "Create a self-custodial payment permit",
        "description": "Builds the EIP-712 domain and Permit2 message that the sender signs before submitting one self-custodial payment.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfCustodialPaymentBase"
              },
              "example": {
                "chain": "Sepolia",
                "coin": "USDT",
                "to_address": "0x2222222222222222222222222222222222222222",
                "amount": "10.25",
                "est_fee": "0.12",
                "deadline": 1893456000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The EIP-712 domain and Permit2 message to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPermitResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "domain": {
                      "name": "Permit2",
                      "chainId": "11155111",
                      "verifyingContract": "0x000000000022d473030f116ddee9f6b43ac78ba3"
                    },
                    "permit": {
                      "permitted": [
                        {
                          "token": "0x1111111111111111111111111111111111111111",
                          "amount": "10370000"
                        }
                      ],
                      "spender": "0x4444444444444444444444444444444444444444",
                      "nonce": "0",
                      "deadline": "1893456000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/ncw/create_domain_permit_bulkpay/{user_id}": {
      "post": {
        "operationId": "createSelfCustodialBulkPaymentPermit",
        "summary": "Create a self-custodial bulk-payment permit",
        "description": "Builds the EIP-712 domain and Permit2 message that the sender signs before submitting a self-custodial bulk payment.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPaymentBase"
              },
              "example": {
                "chain": "Sepolia",
                "batch": [
                  {
                    "coin": "USDT",
                    "to_address": "0x2222222222222222222222222222222222222222",
                    "amount": "10.25",
                    "memo": "BulkPay"
                  },
                  {
                    "coin": "USDC",
                    "to_address": "0x3333333333333333333333333333333333333333",
                    "amount": "4.50",
                    "memo": "BulkPay"
                  }
                ],
                "tot_est_fee": "0.18",
                "deadline": 1893456000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The EIP-712 domain and Permit2 message to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPermitResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "domain": {
                      "name": "Permit2",
                      "chainId": "11155111",
                      "verifyingContract": "0x000000000022d473030f116ddee9f6b43ac78ba3"
                    },
                    "permit": {
                      "permitted": [
                        {
                          "token": "0x1111111111111111111111111111111111111111",
                          "amount": "10370000"
                        },
                        {
                          "token": "0x5555555555555555555555555555555555555555",
                          "amount": "4500000"
                        }
                      ],
                      "spender": "0x4444444444444444444444444444444444444444",
                      "nonce": "0",
                      "deadline": "1893456000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/ncw/{user_id}": {
      "post": {
        "operationId": "createSelfCustodialPayment",
        "summary": "Create a self-custodial payment",
        "description": "Submits one payment with the sender's Permit2 nonce and signature. The response is a receipt ID; query the receipt endpoint for settlement progress.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfCustodialPaymentRequest"
              },
              "example": {
                "payload": {
                  "base": {
                    "chain": "Sepolia",
                    "coin": "USDT",
                    "to_address": "0x2222222222222222222222222222222222222222",
                    "amount": "10.25",
                    "est_fee": "0.12",
                    "deadline": 1893456000
                  },
                  "nonce": "0",
                  "sig": "0xpermit2-signature",
                  "memo": "General"
                },
                "sched": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new receipt ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1reb05f9d5f2791616e3c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/ncw_bulkpay/{user_id}": {
      "post": {
        "operationId": "createSelfCustodialBulkPayment",
        "summary": "Create self-custodial bulk payments",
        "description": "Submits a signed Permit2 batch and returns the receipt IDs created for its individual payments.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfCustodialBulkPaymentRequest"
              },
              "example": {
                "payload": {
                  "base": {
                    "chain": "Sepolia",
                    "batch": [
                      {
                        "coin": "USDT",
                        "to_address": "0x2222222222222222222222222222222222222222",
                        "amount": "10.25",
                        "memo": "BulkPay"
                      },
                      {
                        "coin": "USDC",
                        "to_address": "0x3333333333333333333333333333333333333333",
                        "amount": "4.50",
                        "memo": "BulkPay"
                      }
                    ],
                    "tot_est_fee": "0.18",
                    "deadline": 1893456000
                  },
                  "nonce": "0",
                  "sig": "0xpermit2-signature"
                },
                "scheds": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The receipt IDs created for the batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkPaymentResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "receipt_ids": [
                      "1reb05f9d5f2791616e3c",
                      "7cca24fc3e804598a813"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/ncw/merchant/{user_id}/{session_id}": {
      "post": {
        "operationId": "createSelfCustodialMerchantPayment",
        "summary": "Create a self-custodial merchant payment",
        "description": "Submits a signed self-custodial merchant payment and associates its receipt with the supplied payment session.",
        "tags": [
          "Pay"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfCustodialPaymentPayload"
              },
              "example": {
                "base": {
                  "chain": "Sepolia",
                  "coin": "USDT",
                  "to_address": "0x2222222222222222222222222222222222222222",
                  "amount": "10.25",
                  "est_fee": "0.12",
                  "deadline": 1893456000
                },
                "nonce": "0",
                "sig": "0xpermit2-signature",
                "memo": "FliqPayMerchant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new receipt ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1reb05f9d5f2791616e3c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/merchant/session/{session_id}": {
      "get": {
        "operationId": "getPaymentSessionStatus",
        "summary": "Get a merchant payment session status",
        "description": "Returns the receipt ID associated with a merchant payment session. An empty data string means that no receipt has been attached yet.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "The associated receipt ID, or an empty string while the session is waiting for payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": "1reb05f9d5f2791616e3c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/receipt/{receipt_id}": {
      "get": {
        "operationId": "getPaymentReceipt",
        "summary": "Get a payment receipt",
        "description": "Returns the latest known state of one stablecoin payment.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ReceiptId"
          }
        ],
        "responses": {
          "200": {
            "description": "The payment receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "id": "1reb05f9d5f2791616e3c",
                    "entity": "self",
                    "user_id": "user@example.com",
                    "is_fee_incl": false,
                    "chain": "Sepolia",
                    "coin": "USDT",
                    "to_address": "0x2222222222222222222222222222222222222222",
                    "amount": "10.25",
                    "memo": "General",
                    "est_fee": "0.12",
                    "act_fee": "0.10",
                    "tx_hash": "0xtransaction",
                    "block_num": 123456,
                    "status": "Confirmed",
                    "start_ts_us": 1789992000000000,
                    "end_ts_us": 1789992060000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/payment/onchain/receipts/{user_id}/{sort_by_latest}/{from_start}": {
      "get": {
        "operationId": "getPaymentReceipts",
        "summary": "Get payment history",
        "description": "Returns a page of receipts. For a continuation request, set next_or_previous and pass the receipt ID at the current page edge as cursor: the last receipt for the next page or the first receipt for the previous page.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/SortByLatest"
          },
          {
            "$ref": "#/components/parameters/FromStart"
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Chain"
            },
            "description": "Filter by chain."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ReceiptStatus"
            },
            "description": "Filter by receipt state."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "description": "Maximum number of receipts to return."
          },
          {
            "name": "next_or_previous",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "true requests the next page; false requests the previous page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Receipt ID at the current page edge. Required for stateless continuation requests; use the last receipt ID for next and the first receipt ID for previous."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of payment receipts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                },
                "example": {
                  "status": "200 OK",
                  "data": {
                    "has_prev": false,
                    "receipts": [],
                    "has_next": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Use a UniFi API key generated from the web app and stored server-side."
      }
    },
    "parameters": {
      "UserId": {
        "name": "user_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "UniFi user identifier, such as a verified email address or wallet address."
      },
      "Address": {
        "name": "address",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^0x[a-fA-F0-9]{40}$"
        },
        "description": "EVM wallet address."
      },
      "ApiKeyName": {
        "name": "name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "description": "User-scoped name for the API key."
      },
      "Chain": {
        "name": "chain",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Chain"
        },
        "description": "Blockchain network."
      },
      "Coin": {
        "name": "coin",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Stablecoin"
        },
        "description": "Stablecoin ticker."
      },
      "CreateSession": {
        "name": "create_session",
        "in": "path",
        "required": true,
        "schema": {
          "type": "boolean"
        },
        "description": "Whether to create and return a session after funding."
      },
      "IsFeeInclusive": {
        "name": "is_fee_incl",
        "in": "path",
        "required": true,
        "schema": {
          "type": "boolean"
        },
        "description": "When true, the fee is included in the entered amount. When false, the fee is added separately."
      },
      "PaymentId": {
        "name": "pid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "UniFi payment identifier for the payer."
      },
      "ToAddress": {
        "name": "to_address",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^0x[a-fA-F0-9]{40}$"
        },
        "description": "Payment recipient address."
      },
      "Amount": {
        "name": "amount",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+(\\.[0-9]+)?$"
        },
        "description": "Human-readable decimal token amount."
      },
      "ReceiptId": {
        "name": "receipt_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "UniFi payment receipt ID."
      },
      "SortByLatest": {
        "name": "sort_by_latest",
        "in": "path",
        "required": true,
        "schema": {
          "type": "boolean"
        },
        "description": "Sort newest receipts first when true."
      },
      "FromStart": {
        "name": "from_start",
        "in": "path",
        "required": true,
        "schema": {
          "type": "boolean"
        },
        "description": "Start a fresh history traversal when true."
      },
      "SessionId": {
        "name": "session_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "UniFi session ID."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is invalid or cannot be completed in the current state.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The bearer credential is missing, invalid, or not authorized for this user.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "Conflict": {
        "description": "The operation conflicts with the resource's current state.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The credential has exceeded its current request allowance.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "ServerError": {
        "description": "The API could not complete the request.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "Unavailable": {
        "description": "A required dependency is temporarily unavailable.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "schemas": {
      "Chain": {
        "type": "string",
        "enum": [
          "Ethereum",
          "Polygon",
          "Sepolia"
        ],
        "description": "Production-supported mainnets and public testnets exposed by the public reference."
      },
      "Stablecoin": {
        "type": "string",
        "enum": [
          "USDT",
          "USDC",
          "DAI"
        ]
      },
      "Currency": {
        "type": "string",
        "enum": [
          "USD",
          "INR",
          "EUR"
        ]
      },
      "Platform": {
        "type": "string",
        "enum": [
          "TgBot",
          "Web",
          "CliMac",
          "CliLinux",
          "CliWindows",
          "MacDesktop",
          "LinuxDesktop",
          "WindowsDesktop"
        ]
      },
      "ApiPlan": {
        "type": "string",
        "enum": [
          "Free",
          "Starter",
          "Growth",
          "Scale",
          "Enterprise"
        ]
      },
      "PaidPlanDuration": {
        "type": "string",
        "enum": [
          "Month",
          "Quarter",
          "HalfYear",
          "Year"
        ]
      },
      "ReceiptStatus": {
        "type": "string",
        "enum": [
          "Processing",
          "Failed",
          "Confirmed",
          "Finalized",
          "Reorged"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "data",
          "server_uptime"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "server_uptime": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "StringResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AuthChallengeRequest": {
        "type": "object",
        "required": [
          "domain",
          "uri",
          "chain_id"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Expected application domain."
          },
          "uri": {
            "type": "string",
            "format": "uri",
            "description": "Expected application origin or sign-in URI."
          },
          "chain_id": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      },
      "AuthChallenge": {
        "type": "object",
        "required": [
          "message",
          "nonce",
          "expires_at"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Sign this exact message without modification."
          },
          "nonce": {
            "type": "string"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "AuthChallengeResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AuthChallenge"
          }
        }
      },
      "JwtExchangeRequest": {
        "type": "object",
        "required": [
          "message",
          "signature",
          "nonce",
          "platform"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "platform": {
            "$ref": "#/components/schemas/Platform"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": [
          "name",
          "value",
          "created_at"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "writeOnly": true
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "ApiMetadata": {
        "type": "object",
        "required": [
          "plan",
          "duration",
          "credits",
          "img_credits",
          "expiry_at"
        ],
        "properties": {
          "plan": {
            "$ref": "#/components/schemas/ApiPlan"
          },
          "duration": {
            "$ref": "#/components/schemas/PaidPlanDuration"
          },
          "credits": {
            "type": "integer",
            "format": "int64"
          },
          "img_credits": {
            "type": "integer",
            "format": "int64"
          },
          "expiry_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "ApiAccount": {
        "type": "object",
        "required": [
          "metadata",
          "keys"
        ],
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ApiMetadata"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          }
        }
      },
      "ApiAccountResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ApiAccount"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "When present, the address is verified."
          },
          "preferred_fiat_currency": {
            "$ref": "#/components/schemas/Currency",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserProfileResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserProfile"
          }
        }
      },
      "WalletAddresses": {
        "type": "object",
        "properties": {
          "Evm": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "WalletAddressesResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WalletAddresses"
          }
        }
      },
      "StablecoinBalanceMap": {
        "type": "object",
        "properties": {
          "USDT": {
            "type": "string"
          },
          "USDC": {
            "type": "string"
          },
          "DAI": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "StablecoinBalanceMapResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/StablecoinBalanceMap"
          }
        }
      },
      "WalletBalancesByChainCoinDetails": {
        "type": "object",
        "required": [
          "price_usd",
          "balance",
          "value_usd"
        ],
        "properties": {
          "price_usd": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "value_usd": {
            "type": "string"
          }
        }
      },
      "WalletBalancesByChainEntry": {
        "type": "array",
        "minItems": 2,
        "maxItems": 2,
        "description": "A [stablecoin, details] tuple.",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/Stablecoin"
            },
            {
              "$ref": "#/components/schemas/WalletBalancesByChainCoinDetails"
            }
          ]
        }
      },
      "WalletBalancesByChain": {
        "type": "object",
        "required": [
          "total_usd",
          "coin_details"
        ],
        "properties": {
          "total_usd": {
            "type": "string"
          },
          "coin_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletBalancesByChainEntry"
            }
          }
        }
      },
      "WalletBalancesByChainResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WalletBalancesByChain"
          }
        }
      },
      "WalletBalancesByCoinChainDetails": {
        "type": "object",
        "required": [
          "balance",
          "value_usd"
        ],
        "properties": {
          "balance": {
            "type": "string"
          },
          "value_usd": {
            "type": "string"
          }
        }
      },
      "WalletBalancesByCoinEntry": {
        "type": "array",
        "minItems": 2,
        "maxItems": 2,
        "description": "A [chain, details] tuple.",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/Chain"
            },
            {
              "$ref": "#/components/schemas/WalletBalancesByCoinChainDetails"
            }
          ]
        }
      },
      "WalletBalancesByCoin": {
        "type": "object",
        "required": [
          "total_usd",
          "price_usd",
          "chain_details"
        ],
        "properties": {
          "total_usd": {
            "type": "string"
          },
          "price_usd": {
            "type": "string"
          },
          "chain_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletBalancesByCoinEntry"
            }
          }
        }
      },
      "WalletBalancesByCoinResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WalletBalancesByCoin"
          }
        }
      },
      "WalletBalancesEntry": {
        "type": "array",
        "minItems": 2,
        "maxItems": 2,
        "description": "A [stablecoin, aggregate] tuple.",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/Stablecoin"
            },
            {
              "$ref": "#/components/schemas/WalletBalancesByCoin"
            }
          ]
        }
      },
      "WalletBalances": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/WalletBalancesEntry"
        },
        "description": "Assets ordered by total USD value."
      },
      "WalletBalancesResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WalletBalances"
          }
        }
      },
      "PreflightValues": {
        "type": "object",
        "required": [
          "is_coin_allowance_zero",
          "balance",
          "est_fee"
        ],
        "properties": {
          "is_coin_allowance_zero": {
            "type": "boolean"
          },
          "balance": {
            "type": "string"
          },
          "est_fee": {
            "type": "string"
          }
        }
      },
      "PreflightResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PreflightValues"
          }
        }
      },
      "Memo": {
        "description": "Payment purpose. Unit variants serialize as strings; data-carrying variants serialize as objects.",
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "General",
              "FliqPay",
              "FliqPayMerchant",
              "BulkPay"
            ]
          },
          {
            "type": "object",
            "required": [
              "Custom"
            ],
            "properties": {
              "Custom": {
                "type": "string",
                "maxLength": 48
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "SubscribeApi"
            ],
            "properties": {
              "SubscribeApi": {
                "type": "array",
                "minItems": 2,
                "maxItems": 2,
                "items": {
                  "type": "string"
                },
                "example": [
                  "Starter",
                  "Month"
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "PaymentPayload": {
        "type": "object",
        "required": [
          "chain",
          "coin",
          "to_address",
          "amount",
          "memo"
        ],
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "coin": {
            "$ref": "#/components/schemas/Stablecoin"
          },
          "to_address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$",
            "description": "Human-readable decimal token amount."
          },
          "memo": {
            "$ref": "#/components/schemas/Memo"
          }
        },
        "additionalProperties": false
      },
      "Schedule": {
        "type": "object",
        "required": [
          "id",
          "is_recurring"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "is_recurring": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PayOnchainRequest": {
        "type": "object",
        "required": [
          "payload"
        ],
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/PaymentPayload"
          },
          "sched": {
            "$ref": "#/components/schemas/Schedule",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Receipt": {
        "type": "object",
        "required": [
          "id",
          "entity",
          "user_id",
          "is_fee_incl",
          "chain",
          "coin",
          "to_address",
          "amount",
          "memo",
          "est_fee",
          "act_fee",
          "tx_hash",
          "block_num",
          "status",
          "start_ts_us",
          "end_ts_us"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "is_fee_incl": {
            "type": "boolean"
          },
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "coin": {
            "$ref": "#/components/schemas/Stablecoin"
          },
          "to_address": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "memo": {
            "$ref": "#/components/schemas/Memo"
          },
          "est_fee": {
            "type": "string"
          },
          "act_fee": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          },
          "block_num": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "$ref": "#/components/schemas/ReceiptStatus"
          },
          "start_ts_us": {
            "type": "integer",
            "format": "int64",
            "description": "Payment start time in microseconds."
          },
          "end_ts_us": {
            "type": "integer",
            "format": "int64",
            "description": "Confirmation time in microseconds, or zero before confirmation."
          }
        }
      },
      "ReceiptResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Receipt"
          }
        }
      },
      "History": {
        "type": "object",
        "required": [
          "has_prev",
          "receipts",
          "has_next"
        ],
        "properties": {
          "has_prev": {
            "type": "boolean"
          },
          "receipts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Receipt"
            }
          },
          "has_next": {
            "type": "boolean"
          }
        }
      },
      "HistoryResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/History"
          }
        }
      },
      "FalconIpo": {
        "type": "object",
        "required": [
          "enabled",
          "freq_secs"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "freq_secs": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 60
          }
        },
        "additionalProperties": false
      },
      "FalconHeartbeat": {
        "type": "object",
        "required": [
          "spo_enabled"
        ],
        "properties": {
          "ipo": {
            "$ref": "#/components/schemas/FalconIpo",
            "nullable": true
          },
          "spo_enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "falcon_heartbeat": {
            "$ref": "#/components/schemas/FalconHeartbeat",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserSession": {
        "type": "object",
        "required": [
          "user_id",
          "jwt"
        ],
        "properties": {
          "user_id": {
            "type": "string"
          },
          "jwt": {
            "type": "string",
            "writeOnly": true
          },
          "falcon_heartbeat": {
            "$ref": "#/components/schemas/FalconHeartbeat",
            "nullable": true
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserSession"
          }
        }
      },
      "BulkPayItem": {
        "type": "object",
        "required": [
          "coin",
          "to_address",
          "amount",
          "memo"
        ],
        "properties": {
          "coin": {
            "$ref": "#/components/schemas/Stablecoin"
          },
          "to_address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$",
            "description": "Human-readable decimal token amount."
          },
          "memo": {
            "$ref": "#/components/schemas/Memo"
          }
        },
        "additionalProperties": false
      },
      "BulkPayItemRequest": {
        "type": "object",
        "required": [
          "chain",
          "items"
        ],
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "items": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/BulkPayItem"
            }
          }
        },
        "additionalProperties": false
      },
      "PrePayAllowance": {
        "type": "object",
        "required": [
          "is_suff",
          "required_allowance",
          "is_max_allowance"
        ],
        "properties": {
          "is_suff": {
            "type": "boolean",
            "description": "Whether the current Permit2 allowance covers the payment."
          },
          "required_allowance": {
            "type": "string",
            "description": "Additional human-readable token allowance required."
          },
          "is_max_allowance": {
            "type": "boolean",
            "description": "Whether the sender has granted the maximum allowance."
          }
        }
      },
      "PrePayNcwValues": {
        "type": "object",
        "required": [
          "allowance",
          "balance",
          "est_fee"
        ],
        "properties": {
          "allowance": {
            "$ref": "#/components/schemas/PrePayAllowance"
          },
          "balance": {
            "type": "string",
            "description": "Human-readable spendable balance."
          },
          "est_fee": {
            "type": "string",
            "description": "Human-readable estimated fee."
          }
        }
      },
      "PrePayNcwResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PrePayNcwValues"
          }
        }
      },
      "PrePayNcwCoinValues": {
        "type": "object",
        "required": [
          "allowance",
          "balance"
        ],
        "properties": {
          "allowance": {
            "$ref": "#/components/schemas/PrePayAllowance"
          },
          "balance": {
            "type": "string",
            "description": "Human-readable spendable balance for this coin."
          }
        }
      },
      "PrePayNcwBulkValues": {
        "type": "object",
        "required": [
          "coin_entries",
          "tot_est_fee"
        ],
        "properties": {
          "coin_entries": {
            "type": "object",
            "description": "Balance and allowance details keyed by stablecoin ticker.",
            "additionalProperties": {
              "$ref": "#/components/schemas/PrePayNcwCoinValues"
            }
          },
          "tot_est_fee": {
            "type": "string",
            "description": "Human-readable total estimated fee."
          }
        }
      },
      "PrePayNcwBulkResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PrePayNcwBulkValues"
          }
        }
      },
      "PrePayNcwParams": {
        "type": "object",
        "required": [
          "allowance",
          "balance",
          "gas_price",
          "gas_token_price",
          "coin_price"
        ],
        "properties": {
          "allowance": {
            "type": "string",
            "description": "Raw Permit2 allowance as a base-unit integer string."
          },
          "balance": {
            "type": "string",
            "description": "Human-readable net balance."
          },
          "gas_price": {
            "type": "integer",
            "minimum": 0,
            "description": "Current gas price in wei."
          },
          "gas_token_price": {
            "type": "number",
            "format": "double",
            "description": "Current gas-token price in USD."
          },
          "coin_price": {
            "type": "number",
            "format": "double",
            "description": "Current stablecoin price in USD."
          }
        }
      },
      "PrePayNcwParamsResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PrePayNcwParams"
          }
        }
      },
      "SelfCustodialPaymentBase": {
        "type": "object",
        "required": [
          "chain",
          "coin",
          "to_address",
          "amount",
          "est_fee",
          "deadline"
        ],
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "coin": {
            "$ref": "#/components/schemas/Stablecoin"
          },
          "to_address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$",
            "description": "Human-readable decimal token amount."
          },
          "est_fee": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$",
            "description": "Human-readable estimated fee."
          },
          "deadline": {
            "type": "integer",
            "format": "int64",
            "description": "Permit expiry as a Unix timestamp in seconds."
          }
        },
        "additionalProperties": false
      },
      "SelfCustodialPaymentPayload": {
        "type": "object",
        "required": [
          "base",
          "nonce",
          "sig",
          "memo"
        ],
        "properties": {
          "base": {
            "$ref": "#/components/schemas/SelfCustodialPaymentBase"
          },
          "nonce": {
            "type": "string",
            "description": "Permit2 nonce as a decimal integer string."
          },
          "sig": {
            "type": "string",
            "description": "Sender's Permit2 signature."
          },
          "memo": {
            "$ref": "#/components/schemas/Memo"
          }
        },
        "additionalProperties": false
      },
      "SelfCustodialPaymentRequest": {
        "type": "object",
        "required": [
          "payload"
        ],
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/SelfCustodialPaymentPayload"
          },
          "sched": {
            "$ref": "#/components/schemas/Schedule",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BulkPaymentBase": {
        "type": "object",
        "required": [
          "chain",
          "batch",
          "tot_est_fee",
          "deadline"
        ],
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "batch": {
            "type": "array",
            "minItems": 2,
            "items": {
              "$ref": "#/components/schemas/BulkPayItem"
            }
          },
          "tot_est_fee": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$",
            "description": "Human-readable total estimated fee."
          },
          "deadline": {
            "type": "integer",
            "format": "int64",
            "description": "Permit expiry as a Unix timestamp in seconds."
          }
        },
        "additionalProperties": false
      },
      "SelfCustodialBulkPaymentPayload": {
        "type": "object",
        "required": [
          "base",
          "nonce",
          "sig"
        ],
        "properties": {
          "base": {
            "$ref": "#/components/schemas/BulkPaymentBase"
          },
          "nonce": {
            "type": "string",
            "description": "Permit2 nonce as a decimal integer string."
          },
          "sig": {
            "type": "string",
            "description": "Sender's Permit2 signature."
          }
        },
        "additionalProperties": false
      },
      "SelfCustodialBulkPaymentRequest": {
        "type": "object",
        "required": [
          "payload"
        ],
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/SelfCustodialBulkPaymentPayload"
          },
          "scheds": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Schedule"
            }
          }
        },
        "additionalProperties": false
      },
      "DomainPermitForSignature": {
        "type": "object",
        "required": [
          "domain",
          "permit"
        ],
        "properties": {
          "domain": {
            "type": "object",
            "description": "EIP-712 signing domain.",
            "additionalProperties": true
          },
          "permit": {
            "type": "object",
            "description": "Permit2 batch-transfer message to sign.",
            "additionalProperties": true
          }
        }
      },
      "DomainPermitResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/DomainPermitForSignature"
          }
        }
      },
      "BulkPaymentResult": {
        "type": "object",
        "required": [
          "receipt_ids"
        ],
        "properties": {
          "receipt_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BulkPaymentResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BulkPaymentResult"
          }
        }
      }
    }
  }
}
